#reviews_cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
}
#reviews_cont > section{
   /*  border: 3px #b5df53b9 solid; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    column-gap: 10px;
    background: linear-gradient(70deg, rgba(17,38,46,1) 0%, rgba(26,51,60,1) 100%, rgba(60,75,81,1) 100%)/* linear-gradient(302deg, rgba(17,38,46,1) 0%, rgba(26,46,54,1) 0%, rgba(17,38,46,1) 46%, rgba(66,81,88,1) 100%, rgba(100,112,118,1) 100%, rgba(255,250,251,1) 100%) */;
}
.reviewerpic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.reviews{
    margin-bottom: 1rem;
    text-align: justify;
    word-spacing: 3px;
    line-height: 22px;
}
.reviewername{
    color: #b5df53;
    font-size: 18px;
    font-weight: 500;
    
}